/* siteHeader */
.siteHeader{
    width:200px;
    padding:4px 16px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.siteHeader > h1{
    padding:4px 16px;
    font-size: 32px;
}
/* end */
/* calendar ; BEM 命名法 */
.calendar{
    background-color: #fff;
    color:#333;
    margin:16px;
    border-radius: 24px;
}
.calendar-header{
    text-align: center;
    padding: 12px 0;
    font-size: 18px;
}
.calendar-weekdays{
    display: flex;
}
.calendar-weekdays > li{
    width: 14.2857%;
    text-align: center;
    line-height: 42px;
    border: 1px solid rgba(127, 127, 127, 0.1);
}
.calendar-days{
    display: flex;
    flex-wrap: wrap;
}
.calendar-days > li{
    display: block;
    width: 14.2857%;
    text-align: center;
    line-height: 42px;
    border: 1px solid rgba(127, 127, 127, 0.1);
    position: relative;
}
.calendar-days-today{
    background-color: #fed32c;
    border-radius: 5px;
}
.calendar-days > li.calendar-days-selected{  /*选择器越多优先级越高*/
    outline:2px solid #fed32c;
    border-radius: 2px;
}
.calendar-days > li.calendar-days-noThisMonth{
    color:#999
}
.calendar-days > li.calendar-days-hasEvents::after{
    border:1px solid green;
    background-color: green;
    position: absolute;
    content:'';
    width: 8px;height: 8px;padding: 0;
    right:4px;top:4px;
    border-radius: 50%;
}
.calendar-actions{
    display: flex;
    justify-content: space-between;
    padding:10px;
}
.calendar-actions button{
    font-size: 14px;
    height: 24px;
    padding:0 10px;
}
.calendar-actions-left{
    margin-left: 10px;
}
.calendar-actions-right{
    display: flex;
    margin-right: 10px;
}
/* end */
/* events */
.eventsWrapper{
    border:1px solid #eee;
    margin:16px;
    padding:20px;
}
.eventsWrapper > .events > div{
    padding:5px;
}